# ignores all vscode settings
.vscode/
_site/
maven/SistemSemakanBantuanPrihatinNasionalGUI/target/
ant/Sistem Semakan Bantuan Prihatin Nasional CLI/dist/
ant/Sistem Semakan Bantuan Prihatin Nasional CLI/build/
ant/Sistem Semakan Bantuan Prihatin Nasional GUI/dist/
ant/Sistem Semakan Bantuan Prihatin Nasional GUI/build/